<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>For <b>9+ years</b> I have worked on several companies as a Software Enginner helping them to reduce their backlog, enhance their products and improve the overall code quality.</p>
      </div>
      <div class="col-lg-4">
        <p>During my career, I've worked in various companies, ranging from small WordPress agencies to large corporations like eBay.</p>
      </div>
    </div>
    <div class="row">
      <p class="lead text-center about-lead-text">I am determined to help you to achieve your product goals with high quality and efficiency.</p>
    </div>
  </div>
</section>
